* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 2em;
}

main {
    display: flex;
    margin: 0 auto;
}

input[type="text"] {
    padding: 1em;
}

p {
    font-size: 0.8rem;
}