* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f5fc;
}
.container {
    width: 95%;
    margin: 1em auto;
}

.input-text {
    margin: 3em auto 10em 0;
    display: flex;
    align-items: flex-start;
}

::placeholder {
    color: #0a3871;
    opacity: 1;
}

#input-text {
    border: none;
    background-color: #f2f5fc;
    font-size: 2rem;
}
.warning-message {
    color: #66808d;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
.buttons > input {
    display: block;
    width: 100%;
    max-width: 30rem;
}

.submit-button {
    padding: 1.3rem;
    border-radius: 1.3rem;
    border: none;
    cursor: pointer;
}

#cipher-button {
    background-color: #0a3871;
    color: #fff;
}

#uncipher-button {
    border: 1px solid #0a3871;
    color: #0a3871;
}